$tools_link_color: #3f3f3f;

.just-top-padding {
   padding: inherit !important;
   padding-top: 0.5em !important;
}

.box-tools, .box-title {
   .btn {
      margin-left: 0.2em;
      margin-right: 0.2em;
      a {
         color: #fff;
      }
   }
   .search-group {
      margin-left: 0.2em;
      margin-right: 0.2em;
   }

}

.list-view-table {
   tr {
      th:first-child, td:first-child {
         width: 2em;
      }
      th:last-child, td:last-child {
         span {
            padding-left: 0.3em;
            padding-right: 0.3em;
            cursor: pointer;
         }
      }

      &.title-row {

         .tools {
            display: none;
            a {
               color: $tools_link_color;
            }
         }

         &:hover {
            .tools {
               display: block;
            }
         }
      }
   }



}

.pointer {
   cursor: pointer;
}

.pagination_page {
   width: 8em;
   padding-left: 1em;
   padding-right: 1em;

}
