$tools_link_color: #3f3f3f;

.just-top-padding {
   padding: inherit !important;
   padding-top: 0.5em !important;
}

.box-tools, .box-title {
   .btn {
      margin-left: 0.2em;
      margin-right: 0.2em;
      a {
         color: #fff;
      }
   }
   .search-group {
      margin-left: 0.2em;
      margin-right: 0.2em;
   }

}

.list-view-table {
   tr {
      th:first-child, td:first-child {
         width: 2em;
      }
      th:last-child, td:last-child {
         span {
            cursor: pointer;
         }
      }

      &.title-row {

         .tools {
            visibility: hidden;

            direction: ltr;
            a {
               color: $tools_link_color;
            }
         }

         &:hover {
            .tools {
            visibility: visible;
            }
         }
      }
   }
}

.pointer {
   cursor: pointer;
}

.pagination_page {
   width: 8em;
   padding-left: 1em;
   padding-right: 1em;

}
.datepicker{z-index:1151 !important;}

.checkbox {
   padding-left: 20px;
}

#loading-bar {
   .bar {
      background-color: #00c0ef !important;
   }

   .peg {
      -moz-box-shadow: #00c0ef 1px 0 6px 1px !important;
      -ms-box-shadow: #00c0ef 1px 0 6px 1px !important;
      -webkit-box-shadow: #00c0ef 1px 0 6px 1px !important;
      box-shadow: #00c0ef 1px 0 6px 1px !important;
   }
}

#loading-bar-spinner {
   display: none !important;
}
