@import "variables";
.sidebar .sidebar-menu .treeview-menu {
   display: block;

}

.point {
   cursor: pointer;

}

.box {
     .box-header {
        a.btn-success{
              color: white;
        }
     }

     .box-body{
        .btn-user{

          i.btn-remove{
             color: $red-rb;
           }

          i.btn-remove:hover{
             color: $red-rb-light;
          }

          i.change-pass{
            color: $green;

          }
          i.change-pass:hover{
            color: $green-light;

          }

          a{
            padding-right: 1em;
          }
        }

      }
}
