@font-face {
   font-family: 'yekan';
   src: font-url('/fonts/BYekan.eot');
   src: font-url("/fonts/BYekan.eot#iefix") format('embedded-opentype'),
      font-url("/fonts/BYekan.woff") format('woff'),
        font-url("/fonts/BYekan.ttf") format('truetype');
}


div, p, h1,h2,h3,h4,h5,h6{
   font-family: 'yekan', tahoma;
}

.list-view-table {
   tr {
      .row_buttons {
         padding-left: 1em;
         text-left: right;
      }

   }
}