div[ui-view]
  list-view buttons="buttons" objects="groups" title-attribute="'name'" details-template="details_template" item-per-page="10" on_delete="on_delete" model="'Faalis::Group'" resource="__resource__" tools="tools"
