.list-view-table {
   tr {
      .row_buttons {
         padding-right: 1em;
         text-align: right;
      }

      .tool {
         margin-right: 2em;
      }
   }


}

.select2-container {
   width: 100%;
}